<footer class="page-footer farley-color">
    <div class="container">
        <div class="row">
            <div class="col s3 right-align hide-on-small-only">
                <img class="size-40 circle" src="/assets/team-farley.jpg" alt="Team Farley"/>
            </div>
            <div class="col l6 s12">
                <h5 class="farley-color-text text-lighten-2">Team Farley</h5>
                <p class="farley-color-text text-lighten-2">Wij zijn Niels en Martijn van Studio Farley. Wij helpen jou je online doel te bereiken door middel van onze kennis en ervaring met online techniek en marketing.</p>
            </div>
            <div class="col l3 s12" id="contact">
                <h5 class="farley-color-text text-lighten-2">Contact</h5>
                <ul>
                    <li><i class="tiny material-icons">local_phone</i>&nbsp;&nbsp;&nbsp; <a href="tel:{{ site.phone }}">{{ site.phone }}</a></li>
                    <li><i class="tiny material-icons">email</i>&nbsp;&nbsp;&nbsp; {{ site.email }}</li>
                    <li><i class="tiny material-icons">arrow_forward</i>&nbsp;&nbsp;&nbsp; {{ site.website }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright farley-color darken-1">
        <div class="container">
            <div>
                <span target="_blank" class="farley-color-text text-lighten-1" >studiofarley.com</span>
            </div>
        </div>
    </div>
</footer>
