.size-40 {
  width: 40%;
  height: 40%;
}

.size-90 {
  width: 90%;
  height: 90%;
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

.banner-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}