---
layout: default
---

<div class="parallax-container" id="parallax">
    <canvas id="canvas"></canvas>
    <video autoplay muted loop id="banner-video" style="width: 100%" class="hide-on-small-only">
        <source src="/assets/celebrate-small.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>

<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center farley-color-text"><i class="material-icons">hot_tub</i></h2>
                    <h5 class="center">Think Much?</h5>

                    <p class="light">Je hebt een idee, wel tien ideeën zelfs maar je weet niet
                        waar en hoe je moet beginnen en hoe je tot de juiste oplossing moet komen. That's where we come in!</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center farley-color-text"><i class="material-icons">nature_people</i></h2>
                    <h5 class="center">Design</h5>

                    <p class="light">Design is er om van te houden, niet om te begrijpen.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center farley-color-text"><i class="material-icons">directions_run</i></h2>
                    <h5 class="center">User Focussed</h5>

                    <p class="light">Juist in een steeds veranderende digitale wereld moet de focus altijd liggen op de gebruiker</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/webgl.js"></script>
